# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0
# SPDX-License-Identifier: LicenseRef-ONF-Member-Only-1.0
lib/libsponsdn/libsponsdn/
lib/libsponsdn/x86_64-native-linuxapp-gcc/
test/sponsdn/sponsdn/
test/sponsdn/x86_64-native-linuxapp-gcc/
config/hrtbeat_recov_time.txt
cp/gx_app/gx_app
cp/.gdb_history
cp/build/
dp/build/
dp/cdr
oss_adapter/c3po_oss/oss-util
third_party
*.a
*.o
*.so
*.o.cmd
*.o.d
.agree
.download
dpdk*
hyperscan*
services.cfg
v4.1.*
linux-sgx
tags
cscope.out
