#! /bin/bash

# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
# Copyright (c) 2017 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

FREEDIAMETER="https://github.com/omec-project/freediameter.git -b gx"
PROMETHEUS_CLIENT="https://github.com/jupp0r/prometheus-cpp.git"
CMAKE_EXE="https://github.com/Kitware/CMake/releases/download/v3.18.0/cmake-3.18.0-Linux-x86_64.tar.gz"
PISTACHE_SERVER="https://github.com/oktal/pistache.git"

